In [1]:
#WAS to print "Hello world" by using shell(1Q)
a="Hello World"
print(a)
 
#or
print("Hello World")

Hello World
Hello World

In [2]:
#WAS to print "Hello World" by using python print function(2Q)
print("Hello World")

Hello World

In [3]:
#WAS to initialize variable and value as 50(3Q)
a=50
a

50

In [4]:
#WAS to initialize multi variable (values are 150,120,250)(Take your own variable name)(4Q)
a=150
b=120
c=250
print(a)
print(b)
print(c)

# 2nd method

# a,b,c=150,120,250
# print(a)
# print(b)
# print(c)

150
120
250

In [5]:
#WAS to print the type of the data in given value(5Q)
p=10+2j
print(type(p))
# q=30.0
# type(q)
# r="machine learning"
# type(r)

<class 'complex'>

In [6]:
#WAS to print the address of the memory block in given value(6Q)
a=10
id(a)
# b="siri"
# id(b)

140704608515144

In [7]:
# WAS to print your details,first store your detalis,extract the values and display it(7Q)
a=[987,79+80j,12.46]
a[0]
a[2]
a[1]
print(a[0])
print(a[1])
print(a[2])

987
(79+80j)
12.46

In [8]:
#WAS to swap the two values with temp varible(8Q)
a=10
b=20
temp=a
a=b
b=temp
print(a)
print(b)

20
10

In [9]:
# WAS to swap without temp variable(9Q)
a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

In [10]:
# WAS to initialize a value and print the value after print the value,then reinitialize the new value to the existing variable 
#and display the value(10Q)
a=59
print(a)
a=200
print(a)

59
200

In [11]:
#WAS to convert single to multi value datatype    i/p=>a=10, o/p=>['1','0'](11Q)
a=10
print(list(str(a)))

['1', '0']

In [12]:
#WAS to concat the two multi value datatypes(str,list,tuple,set,dict)(12Q)

d=[56,89.76,10+2j]
e=[1,2,3]
f=d+e
print(f)

q="hello"
r="world"
s=q+r
print(s)

a=(1,2,3,4)
b=(5,6,7)
c=a+b
print(c)

# x={5,6,7,8}   #TypeError: unsupported operand type(s) for +: 'set' and 'set'
# y={1,2,3,4}
# z=x+y
# print(z)

x={5,6,7,8}   
y={1,2,3,4}
z=x|y
print(z)

# d={1:"hello",2:"bye",True:12}   #TypeError: unsupported operand type(s) for +: 'dict' and 'dict'
# e={False:32,89:21,"well":100}
# j=d+e
# print(j)


d={1:"hello",2:"bye",True:12}   
e={False:32,89:21,"well":100}
j=d|e
print(j)

[56, 89.76, (10+2j), 1, 2, 3]
helloworld
(1, 2, 3, 4, 5, 6, 7)
{1, 2, 3, 4, 5, 6, 7, 8}
{1: 12, 2: 'bye', False: 32, 89: 21, 'well': 100}

In [13]:
# WAS  to perform the length of the collection(13Q)
v="Deep Learning"
len(v)

13

In [14]:
#WAS to modify the middle of the given collection(14Q)
d=[56,89.76,10+2j]
d[1]=30
print(d)

i="srija"
j=i[0:len(i)//2]+"ee"+i[len(i)//2+1:]
print(j)


d={1:20,2:"orange",True:69.32}
d[2]="wow"
print(d)

[56, 30, (10+2j)]
sreeja
{1: 69.32, 2: 'wow'}

In [15]:
#WAS to concat th new string into the starting of the given string(15Q)
a="session"
a="grooming "+a
print(a)

grooming session

In [16]:
#WAS to concat the new string into the ending of the given string(16Q)
w="Beautiful"
res=w+"memories"
print(res)

Beautifulmemories

In [17]:
#WAS to concat the new string into the middle of the given string(17Q)
s="i like python soo much"
m=s[0:7]+"DATA SCIENCE"+s[13:]
print(m)

i like DATA SCIENCE soo much

In [18]:
#WAS to modify the new character into the middle of the given string(18Q)
s="CAP"
s[0:len(s)//2]+"a"+s[(len(s)//2)+1:]

'CaP'

In [19]:
#WAS to modify the sequence of characters in given string(19Q)
d="i like python"
res=d[:2]+"love "+d[7:]
print(res)

i love python

In [20]:
#WAS to replace the old character into a new character of given string(20Q)
t="BALL"
abc=t[:1]+"E"+t[2:]
print(abc)

BELL

In [21]:
#WAS to delete the specific character in the given strg(21Q)
s="happy numbers"
v=s[0:5]+s[6:]
print(v)

happynumbers

In [22]:
#WAS to delete the sequence of character in the given string(22Q)
s="i like python soo much"
p=s[0:7]+s[14:]
print(p)

i like soo much

In [23]:
#WAS to concat new string into the specific position of the given string(23Q)
s="i like python soo much"
m=s[0:13]+",DATA SCIENCE"+s[13:]
print(m)

i like python,DATA SCIENCE soo much

In [24]:
#was to concat the new value into the starting of the given list(24Q)
lst=["beautiful",20,10+7j,"python",998]
a=["abc"]+lst
print(a)

['abc', 'beautiful', 20, (10+7j), 'python', 998]

In [25]:
#was to concat the new value into the ending of the given list(25Q)
lst=["beautiful",20,10+7j,"python",998]
s=lst+["welcome"]
print(s)


#2nd method(address not change)
lst+=["welcome"]
print(lst)

#3rd method
a=[1,2,3,4,5]
a[len(a):len(a)]=["abc"]
print(a)

['beautiful', 20, (10+7j), 'python', 998, 'welcome']
['beautiful', 20, (10+7j), 'python', 998, 'welcome']
[1, 2, 3, 4, 5, 'abc']

In [26]:
#WAS to concat the new value into the middle of the given list(26Q)
a=[10,20,30,40,50]
a[len(a)//2:len(a)//2]=[900,576]
print(a)

[10, 20, 900, 576, 30, 40, 50]

In [27]:
#WAS to concat the new value into the specific position of the given list(27Q)
a=["a","b","c","d"]
a[2:2]=["e","f"]
print(a)

['a', 'b', 'e', 'f', 'c', 'd']

In [28]:
#WAS to modify the new value into the specific position of the given list(28Q)
b=[11,22,33,44,55,66]
b[2]=765
print(b)

[11, 22, 765, 44, 55, 66]

In [29]:
#WAS to modify the new value into the starting of the given list(29Q)
b=[11,22,33,44,55,66]
b[0]=765
print(b)

[765, 22, 33, 44, 55, 66]

In [30]:
#WAS to modify the new value into the ending of the given list(30Q)
b=[11,22,33,44,55,66]
b[5]=765
print(b)

[11, 22, 33, 44, 55, 765]

In [31]:
#WAS to modify the new value into the middle of the given list(31Q)
k=["animals",780,"birds",43.89,333]
k[len(k)//2]=222
print(k)

#even no.
l=["hello",167,10+33j,"python"]
l[len(l)//2]=2322
print(l)

['animals', 780, 222, 43.89, 333]
['hello', 167, 2322, 'python']

In [32]:
#WAS to modify the starting 4 positions values into a given list(32Q)
p=[21,22,23,24,25,26,27,28,29]
p[:4]=[333,123,543,987]
print(p)

[333, 123, 543, 987, 25, 26, 27, 28, 29]

In [33]:
#WAS to modify the sequence of values into a given list(33Q)
p=[21,22,23,24,25,26,27,28,29]
p[3:7]=["hello","bye","pandas"]
print(p)

[21, 22, 23, 'hello', 'bye', 'pandas', 28, 29]

In [34]:
#WAS to delete the value into the ending of the list(34Q)
p=[21,22,23,24,25,26,27,28,999]
del p[8]
# del p[-1]
p

[21, 22, 23, 24, 25, 26, 27, 28]

In [35]:
#WAS to delete the value into the starting of the list(35Q)
a=[10,20,30,40,50]
del a[0]
print(a)

[20, 30, 40, 50]

In [36]:
#WAS to delete the value into the middle of the list(36Q)
a=[123,345,567,287,300]
del a[len(a)//2]
print(a)

[123, 345, 287, 300]

In [37]:
#WAP to delete the value in the specific position of the given list(37Q)
a=[123,345,567,287,300]
del a[3]
print(a)

[123, 345, 567, 300]

In [38]:
#WAP to concat the value into the starting of the tuple(38Q)
a=(123,345,567,287,300,9999,4322)
a=("hello",)+a
print(a)

('hello', 123, 345, 567, 287, 300, 9999, 4322)

In [39]:
#WAP TO concat the value into the middle of the tuple(39Q)
a=(123,345,567,287,300,9999,4322)
b=a[:len(a)//2]+(3,2)+a[len(a)//2:]
print(b)

(123, 345, 567, 3, 2, 287, 300, 9999, 4322)

In [40]:
#WAP to concat the value into the ending of the tuple(40Q)
a=(123,345,567,287,300,9999,4322)
a=a+("pen",765)
print(a)

(123, 345, 567, 287, 300, 9999, 4322, 'pen', 765)

In [41]:
#WAP to modify the sequence of values in given tuple(41Q)
a=(123,345,567,287,300,9999,72,"hvgd",7654)
b=a[:3]+(1,2,3)+a[6:]
print(b)

(123, 345, 567, 1, 2, 3, 72, 'hvgd', 7654)

In [42]:
#WAP to delete the sequence of values in given tuple(42Q)
a=(123,345,567,287,300,9999,72,"hvgd",7654)
b=a[:1]+a[5:]
print(b)

(123, 9999, 72, 'hvgd', 7654)

In [43]:
#WAP to concat the new value into the set(43Q)
a={"animals",780,"birds",43.89,333}
a=a|{"diwali",13,"holiday"}
print(a)

{'holiday', 13, 'animals', 'diwali', 43.89, 780, 333, 'birds'}

In [44]:
#WAP to delete the specific value into the set(44Q)
a={1,2,3,4,6,7}
a=a-{2,3,4}
print(a)

{1, 6, 7}

In [45]:
#WAP to concat the new keya and value into the dictionay(45Q)
a={"name":"dinga","age":21}
a["gender"]="Male"
print(a)

{'name': 'dinga', 'age': 21, 'gender': 'Male'}

In [46]:
#WAP to delete the specific key and value in given dictionay(46Q)
a={'name': 'dinga', 'age': 21, 'gender': 'Male'}
del a["age"]
print(a)

{'name': 'dinga', 'gender': 'Male'}

In [47]:
#WAP to modify the specific value into the given dictionary(47Q)
a={'name': 'dinga', 'age': 21, 'gender': 'Male'}
a["name"]="Naga pradhyumna"
print(a)

{'name': 'Naga pradhyumna', 'age': 21, 'gender': 'Male'}

In [48]:
#WAP to concat list and tuple values by using type casting(48Q)
a=[123,345,567,287,300]
b=(1,2,3,4)
c=a+list(b)
print(c)

[123, 345, 567, 287, 300, 1, 2, 3, 4]

In [49]:
#WAP to concat list and tuple values without using type casting(49Q)
a=[123,345,567,287,300]
b=(1,2,3,4)
a+=b
print(a)

[123, 345, 567, 287, 300, 1, 2, 3, 4]

In [51]:
#WAE to check the given number is divisible by 2 or not(50Q)
M=30
M%2==0

#odd
# N=21
# N%2==0

True

In [52]:
#WAE to check given number is divisible by 2 and 6(51Q)
a=12
a%2==0 and a%6==0

True

In [53]:
#WAE to extract the last digit in given integer no.(without type casting)(52Q)
a=983
a%10

3

In [54]:
#WAE to check the last digit is divisible by 3 from given integer number(without type casting)(53Q)
a=983
(a%10)%3==0

True

In [55]:
#WAE to check the last digit is divisible by 3 from given integer number(without type casting)(54Q)
a=983
b=str(a)
print(b)
c=list(b)
print(c)
int(c[-1])%3==0

983
['9', '8', '3']

True

In [56]:
#WAE to check given number is greater than 150(55Q)
n=90
n>150

False

In [57]:
#WAE to check given number is greater than or equal to 100(56Q)
a=100
a>=100

True

In [58]:
#WAP to check given no. is less than or equal to 100(57Q)
a=100
a<=100

True

In [59]:
#WAE to check given no. is less than 150,print the result(58Q)
a=100
a<150
print(a)

100

In [60]:
#WAE to check the given no. is greater than 15 and less than 24(59Q)
a=20
a<24 and a>15

#15<a<24

True

In [61]:
#WAE to check given no. is even(60Q)
a=20
a%2==0
print("even no.")

even no.

In [62]:
#WAE to check given no.is odd(61Q)
a=3
a%2==1
print("odd no.")

odd no.

In [63]:
#WAE to check given no. is divisible by 3 and also the no.should be greater than 23(62Q)
a=24
a%3==0 and a>23

True

In [64]:
#WAE to eliminate the last digit in given integer number(without typcasting)(63Q)
a=235
a=a//10
print(a)

23

In [65]:
#WAE to perform the replication of a given string with 6(64Q)
a=2
print(a*6)

12

In [66]:
#WAE to check perform the length of the collection is less than 55 and greater than 16(65Q)
a="My name is srija gangadhari"
len(a)<55 and len(a)>16
#16<len(a)<55

True

In [67]:
#WAE to check perform the length of the collection is divisible by 5 and odd(66Q)
a="hello"
b=len(a)
print(b)
len(a)%5==0 and len(a)%2==1

5

True

In [68]:
#WAE to check the given no.is greater than 20 and less than 30 and it should be even(67Q)
a="My name is sreeja gangadhari"
b=len(a)
print(b)
20<len(a)<30 and len(a)%2==0

28

True

In [69]:
#WAE to check extract the middle position of a given collection is str,list,tuple(68Q)
g=(11,22,"hello",33,44)
h=g[len(g)//2]
print(h)

type(g[len(g)//2])==str or type(g[len(g)//2])==list or type(g[len(g)//2])==tuple

hello

True

In [70]:
#WAE to check the given no. is even and it should be less than 120(69Q)
a=100
a%2==0 and a<120

True

In [71]:
#WAE to check given no. is even and present from 40 to 70(70Q)
Q=46
Q%2==0 and  40<Q<70

True

In [72]:
#WAE to check the given no.is odd and it should be greater than 97(71Q)
a=101
a%2==1 and a>97

True

In [73]:
#WAE to check given no. is less than 122 and greater than 48 and the no. should be divisible by 4(72Q)
a=120
48<a<122 and a%4==0

True

In [74]:
#WAE to check length of the collection is even or not(73Q)
a="hello_world"
len(a)%2==0

False

In [75]:
#WAE to check the given no. is divisible by 3 0r 5 display the value(74Q)
a=21
a%3==0 or a%5==0

b=25
b%3==0 or b%5==0

True

In [76]:
#WAE to check the given no.is in between 100 to 200 including the limit(75Q)
a=150
100<=a<=200

True

In [77]:
#WAE to check the given no. is in between 100 to 200(76Q)
a=150
100<a<200

True

In [78]:
#WAP to check the given string last character ASCII value should be divisible by 5 or not(77Q)
st="ABCBA"
# list(bytes(st[-1],'utf-8'))%5==0
#ord(st%10)%5==0
ord(st[-1])%5==0

True

In [79]:
#WAE to checl given no. is even or less than 25(78Q)
a=20
a%2==0 or a<25

True

In [80]:
#WAE to check given no. is even or greater than 25(79Q)
a=30
a%2==0 or a>25

True

In [81]:
#WAE to check given no.is divisible by either 3 or 5(80Q)
a=21
a%3==0 or a%5==0

True

In [82]:
#WAE to check given no.is not an even no.(81Q)
a=31
a%2!=0

True

In [83]:
#WAE to check given no.is not an odd no.(82Q)
a=5
not(a%2==1)
# a%2!=1

False

In [84]:
#WAP to check the given no.is not a divisible by 3(83Q)
num=13
not(num%3==0)

True

In [85]:
#WAP to check the given no. is not a divisible by 3 and 5(84Q)
a=15

In [86]:
#WAP to perform the bitwise and operation in given value are 15 and 19(85Q)
a=15
b=19
print(a&b)

3

In [87]:
#WAE to perform the bitwise or operation in given values are 115 and 79(86Q)
a=115
b=79
print(a|b)

In [88]:
#WAE to perform the bitwise xor operation in given values are 56 and 22(87Q)
a=56
b=22
print(a^b)

46

In [89]:
#WAE to perform the bitwise not operation in given value is 15(88Q)
num=15    #formula--->-(n+1)
print(-(num+1))

-16

In [90]:
#WAE to perform the bitwise left shift operation with 32 and skipping value is 3(89Q)
p=32
q=3
print(p<<q)

256

In [91]:
#WAE to perform the bitwise right shift operation with 25 and skipping value is 2(90Q)
p=25
q=2
print(p>>q)

6

In [93]:
#WAE to check the value is present in dict or not(91Q)
d={10:1,20:2,"hii":3}
g="hii"
print(g in d)

#print(d[g])  o/p-->3

True

In [94]:
#check the value 3 is present in the dictionay values or not(92Q)
d={10:1,20:2,"hii":3}
g=3
print(g in d.values())

True

In [95]:
#WAE to print dictionary items(93Q)
d={10:1,20:2,"hii":3}
print(d.items())

dict_items([(10, 1), (20, 2), ('hii', 3)])

In [96]:
#WAE to check values are in dict or not(94Q)
#1st method
d={10:1,20:2,"hii":3}
h=("hii",3)
print(h in d.items())

#2nd method
k=10
v=1
print((k,v) in d.items())

True
True

In [2]:
#WAE to check whether both values are pointing to same address or not(95Q)
a=10
b=10
a==b

True

In [98]:
#WAE to check whether both values are same data types or not(96Q)
a=10
b=10
print(type(a)==int and type(b)==int and id(a)==id(b))

True